/.idea
/nbproject
.DS_Store
.DS_Store?
/typo3cms
/phpunit
/conf
/.env
msi.iws
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache

node_modules

_build

/craft/data/*
!/craft/data/.gitkeep
