includes:
  - phpstan-baseline.neon
parameters:
    level: max
    phpVersion: 80100
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    paths:
       - ../app/backend/packages/customer_sitepackage
