be_sessions;no_data
cache_adminpanel_requestcache;no_data
cache_adminpanel_requestcache_tags;no_data
cache_pages;no_data
cache_pages_tags;no_data
cache_pagesection;no_data
cache_pagesection_tags;no_data
cache_treelist;no_data
fe_sessions;no_data
sys_history;no_data
sys_lockedrecords;no_data
sys_log;no_data
sys_refindex;no_data
sys_template;no_data
