.c-siteheader {
   &__logo {
      width: auto;
      height: 60px;
   }

   &__contact,
   &__sm,
   &__toggle { 
      .o-image {
         width: auto;
         height: 30px;
      }
   }

   &__sm:not(:last-child) {
      @extend .me-2;
   }

   &__toggle {
      cursor: pointer;
   }
}
