/.idea
/nbproject
.DS_Store
.DS_Store?
/typo3cms
/phpunit
/conf
/.env
msi.iws
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.php-cs-fixer.cache

/public/*
!/public/.htaccess

/.Build
/vendor
/var/
