parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$className of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: ../../app/backend/packages/starter_twig/Classes/Twig/TwigEnvironment.php

		-
			message: "#^Unable to resolve the template type T in call to method static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\)$#"
			count: 1
			path: ../../app/backend/packages/starter_twig/Classes/Twig/TwigEnvironment.php
